# lec01. 변수

* 변수란 값을 담는 저장공간(메모리에 값이 올라온다)
* 메모리 ==주소(4바이트 16진법)
* 메모리(해당 주소에 10이란 값을 넣어라) ==변수에 값을 할당한다

a=10

* 주소를 찾아가서 거기에 담긴 값을 출력해라</br>
    print(a)

## 변수 선언

In [6]:
name = '홍길동' #----습관화
age = 19
deptno = 10
grade= '1'

In [7]:
deptno + grade # 10 + '1' =11

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
name1 = '홍길동'
name2 = '아무개'
names = ['홍길동', '아무개'] #------[]로 묶는다.

In [10]:
names = ['홍길동', 4.0, 30, 2000]
print(names)
print( type(names) )

['홍길동', 4.0, 30, 2000]
<class 'list'>

# 2. 리스트, 튜플, 딕트 + 세트

## List
- 다양한 타입의 데이터를 하나의 변수에 담는 것
- [값, 값, 값]
- 타입: <class 'list'>

## tuple(    )
- 다양한 타입의 데이터를 하나의 변수에 담는 것
- (값, 값, 값)
- 타입:<class 'tuple'>

In [12]:
names = ('홍길동', 4.0, 30, 2000) # ----[]를 ()로 바꾼다.

## dict{ }
- 다양한 타입의 데이터를 하나의 변수에 담는 것
- { 'key1' : 'val1' ,'key2' : 'val' ,'key3' : 'val'  }
- 타입:<class 'dict'>
- key값은 달라야 한다. val값은 같을 수 있다.

In [14]:
names = {'ename':'홍길동', 'deptno':30, 'sal': 2000} #-------{'key1':'val'}
print(names)
print(type(names))

{'ename': '홍길동', 'deptno': 30, 'sal': 2000}
<class 'dict'>

## set { }
- 다양한 타입의 데이터를 하나의 변수에 담는 것
- {'val', 'val', 'val'} --dict와 비슷하지만 key가 없다
- 타입: class 'set'>

In [16]:
names = {'홍길동', 30, 2000, 30} #----{'val'}
print(names)
print(type(names))

{2000, '홍길동', 30}
<class 'set'>

# 3. 혼합: 리스트 튜플 딕트

In [19]:
emp = [1,
       2,
       3]

emp = [
    {'ename':'홍길동1', 'deptno':10, 'sal':2000},
       {'ename':'홍길동2', 'deptno':20, 'sal':2000},
       {'ename':'홍길동3', 'deptno':30, 'sal':2000},
    5000
    ]

print(emp)
print(type(emp))

[{'ename': '홍길동1', 'deptno': 10, 'sal': 2000}, {'ename': '홍길동2', 'deptno': 20, 'sal': 2000}, {'ename': '홍길동3', 'deptno': 30, 'sal': 2000}, 5000]
<class 'list'>

# 4. 꺼내기: 리스트 튜플 딕트

In [21]:
list = ['a', 'b', 'c']
print(list)
print(list[0]) #-------------------[]: x번째
print(list[1]) 
print(list[2])

['a', 'b', 'c']
a
b
c

In [23]:
tupl = ('a', 'b', 'c')
print(tupl)
print(tupl[0])
print(tupl[1])
print(tupl[2])

('a', 'b', 'c')
a
b
c

In [29]:
emp = {'ename': '홍길동1', 'deptno':[10, 20, 30], 'sal':1000}
# emp[0] #--------KeyError
emp['ename'] # value 출력
print(emp['ename'])
print(emp['deptno'][1])

홍길동1
20

In [31]:
emp = [
    {'ename': '홍길동1', 'deptno':[10, 20, 30], 'sal':1000},
    {'ename': '홍길동2', 'deptno':20, 'sal':2000}
    ,5000
]

print(emp[1]['ename'])

홍길동2

In [32]:
 t= { 
         "kind": "youtube#videoListResponse",
         "etag": "\"UCBpFjp2h75_b92t44sqraUcyu0/sDAlsG9NGKfr6v5AlPZKSEZdtqA\"",
         "videos": [
          {
           "id": "7lCDEYXw3mM",
           "kind": "youtube#video",
           "etag": "\"UCBpFjp2h75_b92t44sqraUcyu0/iYynQR8AtacsFUwWmrVaw4Smb_Q\"",
           "snippet": { 
            "publishedAt": "2012-06-20T22:45:24.000Z",
            "channelId": "UC_x5XG1OV2P6uZZ5FSM9Ttw",
            "title": "Google I/O 101: Q&A On Using Google APIs",
            "description": "Antonio Fuentes speaks to us and takes questions on working with Google APIs and OAuth 2.0.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/7lCDEYXw3mM/default.jpg"
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/7lCDEYXw3mM/mqdefault.jpg"
             },
             "high": {
              "url": "https://i.ytimg.com/vi/7lCDEYXw3mM/hqdefault.jpg"
             }
            },
            "categoryId": "28"
           },
           "contentDetails": {
            "duration": "PT15M51S",
            "aspectRatio": "RATIO_16_9"
           },
           "statistics": {
            "viewCount": "3057",
            "likeCount": "25",
            "dislikeCount": "0",
            "favoriteCount": "17",
            "commentCount": "12"
           },
           "status": {
            "uploadStatus": "STATUS_PROCESSED",
            "privacyStatus": "PRIVACY_PUBLIC"
           }
          }
         ]
        }

In [53]:
print(t['kind'])
print(t['etag'])
print(t['videos'][0]['snippet']['thumbnails']['default']['url'])

youtube#videoListResponse
"UCBpFjp2h75_b92t44sqraUcyu0/sDAlsG9NGKfr6v5AlPZKSEZdtqA"
https://i.ytimg.com/vi/7lCDEYXw3mM/default.jpg

In [58]:
a = {
    "file_id": 437,
    "channel_public_id": "_ZeUTxl",
    "user_type": "app",
    "users": [
        {
            "id": "12345",
            "field" : {
            "생년월일": "2000-01-01",
            "성별": "남자", 
            "age": 19
            }
        },
        {
            "id": "65656",
            "field" : {
            "생년월일": "2020-09-01",
            "성별": "남자", 
            "age": 21
            }
        }
    ],
    "tag" :  [{"food":["피자","라면"]}, {"coffee":"edia"}]
}

In [67]:
# 회원들의 나이합 출력(두명)
print(a['users'][0]['field']['age'] + a['users'][1]['field']['age'])
# tag의 food정보 출력
print(a['tag'][0]['food'])

40
['피자', '라면']

# C: 입력 : 리스트 튜플 딕트
- 초기화: 변수를 선언해 새로운 값을 할당 --> 처음에 값을 입력
- 재할당: 변수를 선언해 새로운 값을 할당 --> 추가로 더 데이터 입력

In [68]:
emp_list = [7799, 'smith', 40]
emp_tupl = (7799, 'smith', 40)
emp_dict = {'empno':7799, 'ename': 'smith', 'deptno':40}
emp_set = {7799, 'smith', 40, 40}

In [69]:
emp_list.append('sales')
emp_list

[7799, 'smith', 40, 'sales']

In [70]:
# 튜플은 한번 초기화 하면 수정 불가, only 조회만 가능

In [71]:
emp_dict['job'] = 'sales'
emp_dict

{'empno': 7799, 'ename': 'smith', 'deptno': 40, 'job': 'sales'}

In [72]:
emp_set.add('sales')
emp_set

{40, 7799, 'sales', 'smith'}

In [73]:
# dict value 값 변경
emp_dict['deptno']=44

In [74]:
emp_dict

{'empno': 7799, 'ename': 'smith', 'deptno': 44, 'job': 'sales'}

- 입력: 키값이 기존에 있으면 값 넣기
- 수정: 기존에 있는 키값에 값 넣기

* 삭제

In [76]:
emp_list.remove(7799) # --지울값 넣기
emp_list

['smith', 40, 'sales']

In [77]:
emp_dict.pop('empno')

7799

In [78]:
emp_dict

{'ename': 'smith', 'deptno': 44, 'job': 'sales'}

In [79]:
del emp_list[0] # ---번째 지울 수 있다.
emp_list

[40, 'sales']