<font size=6><b> lec03. Quiz</b></font>
* 제어문, 반복문 활용
* list, tuple, dict 활용

<b>문1) 슬라이싱을 사용해서 홀수만 출력</b>
<pre>
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* 출력 결과 :
    [1, 3, 5, 7, 9]

In [44]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

<b>문2) 리스트의 숫자를 역 방향으로 출력</b>
<pre>
nums = [1, 2, 3, 4, 5]

* 출력 결과 :
    [5, 4, 3, 2, 1]

In [46]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

<b>문3) print(res) 라고 입력 시 리스트를 아래와 같이 출력</b>
<pre>
comp = ['카카오','삼성전자', 'LG전자', 'Naver']

* 출력 결과 :
    print(res)
    카카오 삼성전자 LG전자 Naver

In [7]:
import numpy as np
comp = ['카카오','삼성전자', 'LG전자', 'Naver']
print(np.array(comp)) # 이거 맞나?

['카카오' '삼성전자' 'LG전자' 'Naver']

<b>문4) 아래 두 개의 튜플을 하나의 딕셔너리로 변환해  result 변수에 저장</b>
<pre>
keys = ("apple", "banana", "melon")
vals = (1000, 500, 2000)

* 출력 결과 :
  print(result)
  {'apple': 1000, 'banana': 500, 'melon': 2000}

In [47]:
keys = ("apple", "banana", "melon")
vals = (1000, 500, 2000)
result = {}
for i in range(len(keys)):
    result[keys[i]] = vals[i]
print(result)

{'apple': 1000, 'banana': 500, 'melon': 2000}

<b>문5) 구구단 3단, 4단 거꾸로 출력 </b>

* 출력결과
<pre>
2* 9 = 18	2* 8 = 16	2* 7 = 14	2* 6 = 12	2* 5 = 10	2* 4 = 8	2* 3 = 6	2* 2 = 4	2* 1 = 2	
3* 9 = 27	3* 8 = 24	3* 7 = 21	3* 6 = 18	3* 5 = 15	3* 4 = 12	3* 3 = 9	3* 2 = 6	3* 1 = 3

In [15]:
for i in range(2,4):
    for j in range(9,0,-1):
        print(f'{i}*{j} = {i*j}', end= '\t')
    print()

2*9 = 18	2*8 = 16	2*7 = 14	2*6 = 12	2*5 = 10	2*4 = 8	2*3 = 6	2*2 = 4	2*1 = 2
3*9 = 27	3*8 = 24	3*7 = 21	3*6 = 18	3*5 = 15	3*4 = 12	3*3 = 9	3*2 = 6	3*1 = 3

In [14]:
for i in range(3,5):
    for j in range(9,0,-1):
        print(f'{i}*{j} = {i*j}', end= '\t')
    print()

3*9 = 27	3*8 = 24	3*7 = 21	3*6 = 18	3*5 = 15	3*4 = 12	3*3 = 9	3*2 = 6	3*1 = 3
4*9 = 36	4*8 = 32	4*7 = 28	4*6 = 24	4*5 = 20	4*4 = 16	4*3 = 12	4*2 = 8	4*1 = 4

<b> 문6) 업종명을 키로,    종가,구분을  값으로 갖는 딕셔너리 코드 작성</b>
<pre>
<table border=1>
<tr><td>업종명</td><td>종가</td><td>구분</td></tr>
<tr><td>삼성전자</td><td>56200</td><td>코스피</td></tr>
<tr><td>삼성스팩6호</td><td>6760</td><td>코스닥</td></tr>
<tr><td>휴림로봇</td><td>3210</td><td>코스닥</td></tr>
</table>

In [39]:
업종명 = ['삼성전자', '삼성스팩6호', '휴림로봇']
종가 = [56200, 6760, 3210]
구분 = ['코스피', '코스닥', '코스닥']

dict1 = {}
for i in range(len(업종명)):
    dict1[업종명[i]] = 종가[i], 구분[i]
print(dict1)

{'삼성전자': (56200, '코스피'), '삼성스팩6호': (6760, '코스닥'), '휴림로봇': (3210, '코스닥')}

<b> 문7) 문5에서 생성한 dict에 아래 정보 추가하는 코드 작성
    
<pre>
<table border=1>
<tr><td>한일사료</td><td>7490</td><td>코스닥</td></tr>
</table>

In [66]:
dict1['한일사료'] = 7490, '코스닥'
print(dict1)

{'삼성전자': (56200, '코스피'), '삼성스팩6호': (6760, '코스닥'), '휴림로봇': (3210, '코스닥'), '한일사료': (7490, '코스닥')}

In [48]:
dict1['삼성전자'][0]

56200

<b>문8) 문6에서 생성한 dict에 아래 정보 출력하는 코드 작성 </b>
<pre>
* 출력결과 : 
  삼성관련 : 2건  총합 : 62960
  코스피  : 1건  총합 : 56200
  코스닥  : 3건  총합 : 17460

In [76]:
# 다시풀어야겠다

삼성_cnt = 0
코스피_cnt = 0
코스닥_cnt = 0
삼성_sum = 0
코스피_sum=0
코스닥_sum = 0
for i in range(len(dict1)):
    
    if '삼성' in list(dict1.keys())[i]:
        삼성_cnt+=1
        삼성_sum+=dict1[list(dict1.keys())[i]][0]
    if '코스피' in list(dict1.values())[i][1]:
        코스피_cnt+=1
        코스피_sum+=dict1[list(dict1.keys())[i]][0]   
    if '코스닥' in list(dict1.values())[i][1]:
        코스닥_cnt+=1
        코스닥_sum+=dict1[list(dict1.keys())[i]][0]
           
print(f'삼성관련 : {삼성_cnt}건 총합 : {삼성_sum}')
print(f'코스피 : {코스피_cnt}건 총합 : {코스피_sum}')
print(f'코스닥 : {코스닥_cnt}건 총합 : {코스닥_sum}')

삼성관련 : 2건 총합 : 62960
코스피 : 1건 총합 : 56200
코스닥 : 3건 총합 : 17460

In [84]:
slist = []
plist = []
qlist = []
for k, v in dict1.items():
    if k[:2] =='삼성':# 앞글자 2개 삼성인거
        slist.append(v[0])
    if v[1] =='코스피':
        plist.append(v[0])
    elif v[1] =='코스닥':
        qlist.append(v[0])
        
print(f'삼성관련 : {len(slist)}건 총합 : {sum(slist)}')
print(f'코스피 : {len(plist)}건 총합 : {sum(plist)}')
print(f'코스닥 : {len(qlist)}건 총합 : {sum(qlist)}')

삼성관련 : 2건 총합 : 62960
코스피 : 1건 총합 : 56200
코스닥 : 3건 총합 : 17460

<b>문9) 아래 나이 정보를 아래와 같이 출력</b>
<pre>
age_list = ["11","17","45",32,64,52,"23"]

* 출력결과 : 
  ['10대', '10대', '40대', '30대', '60대', '50대', '20대']

In [18]:
type('1')

str

In [21]:
age_list = ["11","17","45",32,64,52,"23"]
for i in range(len(age_list)):
    if type(age_list[i])==str:
        tmp = int(age_list[i])
    else:
        tmp = age_list[i]
    
    tmp2 = tmp//10
    age_list[i]=str(tmp2)+'0대'
print(age_list)

['10대', '10대', '40대', '30대', '60대', '50대', '20대']

<b>문10) 사용자로부터 입력받은 종목명이 stock에 포함되어 있으면 해당 키값을 출력</b>
<pre>
stock = {"005930":"삼성전자", "004310":"현대약품", "047040":"대우건설", "035720":"카카오"}
  
* 출력결과 예: 
  종목명: __카카오__
  035720

In [71]:
stock = {"005930":"삼성전자", "004310":"현대약품", "047040":"대우건설", "035720":"카카오"}

a = input("종목명: ")
for i in range(len(stock)):
    if a ==list(stock.values())[i]:
        print(list(stock.keys())[i])

종목명:  삼성전자

005930

In [87]:
stock = {"005930":"삼성전자", "004310":"현대약품", "047040":"대우건설", "035720":"카카오"}

a = input("종목명: ")
for k, v in stock.items():
    if a==v:
        print(k)

종목명:  카카오

035720