## list에 list 담기

In [1]:
emp = []
user1 = [7799, 'smith', 2000, 10]
user2 = [7300, 'allen', 1700, 20]
user3 = [7788, 'king',  5000, 20]
emp.append(user1)
emp.append(user2)
emp.append(user3)

In [2]:
emp

[[7799, 'smith', 2000, 10],
 [7300, 'allen', 1700, 20],
 [7788, 'king', 5000, 20]]

In [3]:
emp = []
empno  = [7799,7300,7788]
ename  = ['smith','allen','king']
deptno = [10,20,20]

emp.append([empno[0], ename[0], deptno[0]])
emp.append([empno[1], ename[1], deptno[1]])
emp.append([empno[2], ename[2], deptno[2]])
emp

[[7799, 'smith', 10], [7300, 'allen', 20], [7788, 'king', 20]]

In [4]:
emp = []
empno  = [7799,7300,7788]
ename  = ['smith','allen','king']
deptno = [10,20,20]
for i in range(3):
    emp.append([empno[i], ename[i], deptno[i]])

In [5]:
emp

[[7799, 'smith', 10], [7300, 'allen', 20], [7788, 'king', 20]]

- zip()

In [6]:
a = [1,2,3]
b = ['a', 'b', 'c']
list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c')]

* dick: key value 분리

In [7]:
# 파이썬 문제
# 1~20까지 3의 배수의 총합
sum= 0
for i in range(1,21):
    if i%3==0:
        sum+=i
print(sum)

63

In [8]:
# 구구단 3단까지만 출력
for a in range(1,4):
    for b in range(1, 10):
        print(f'{a}*{b} = {a*b}', end = ' ')
    print()

1*1 = 1 1*2 = 2 1*3 = 3 1*4 = 4 1*5 = 5 1*6 = 6 1*7 = 7 1*8 = 8 1*9 = 9
2*1 = 2 2*2 = 4 2*3 = 6 2*4 = 8 2*5 = 10 2*6 = 12 2*7 = 14 2*8 = 16 2*9 = 18
3*1 = 3 3*2 = 6 3*3 = 9 3*4 = 12 3*5 = 15 3*6 = 18 3*7 = 21 3*8 = 24 3*9 = 27

# 열거형
* enumerate ... enum
* 타입 : iterator (반복)
* 대표적 : list tupl dict set

In [9]:
vlist = ['a', 'b', 'c', 'd']
for v in range(len(vlist)):
    print(f'{vlist[v]}, {v}번째')

a, 0번째
b, 1번째
c, 2번째
d, 3번째

In [10]:
vlist= ['a', 'b', 'c', 'd']
for v in range(0, len(vlist)):
    print(f'{vlist[v]}, {v}번째')

a, 0번째
b, 1번째
c, 2번째
d, 3번째

In [11]:
vlist = ['a','b','c','d']
cnt=0
for i in vlist:
    print(f'{i}, {cnt}번째')
    cnt+=1

a, 0번째
b, 1번째
c, 2번째
d, 3번째

### enumerate

In [12]:
vlist = ['a','b','c','d']
for cnt, num in enumerate(vlist):
    print(cnt, num)

0 a
1 b
2 c
3 d

In [13]:
vlist = ['a', 'b', 'c', 'd']
for i in enumerate(vlist):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [14]:
vlist = ['a', 'b', 'c', 'd']
for i in enumerate(vlist):
    print(i[1])

a
b
c
d

In [15]:
vlist = ['a', 'b', 'c', 'd']
for i in enumerate(vlist):
    print(i[0])

0
1
2
3

In [16]:
# 다음 리스트에서 1번째 회원정보만 출력(enumerate 사용)
emp = [ {"empno":7799, "ename":'smith', "deptno":10},
        {"empno":7300, "ename":'allen', "deptno":20},
        {"empno":7788, "ename":'king', "deptno":20} ]
for cnt, i in enumerate(emp):
    if cnt==1:
        print(i)
        print(list(i.keys())[0], i['empno'])
        print(list(i.items()))
        print(i.items())
        print(i.keys())
        print(i.values(), list(i.values()))
        print(type(i.values()))

{'empno': 7300, 'ename': 'allen', 'deptno': 20}
empno 7300
[('empno', 7300), ('ename', 'allen'), ('deptno', 20)]
dict_items([('empno', 7300), ('ename', 'allen'), ('deptno', 20)])
dict_keys(['empno', 'ename', 'deptno'])
dict_values([7300, 'allen', 20]) [7300, 'allen', 20]
<class 'dict_values'>

In [17]:
emp = [ {"empno":7799, "ename":'smith', "deptno":10},
        {"empno":7300, "ename":'allen', "deptno":20},
        {"empno":7788, "ename":'king', "deptno":20} ]
for cnt, i in enumerate(emp):
    if cnt==1:
        print(i['empno'])

7300

In [18]:
emp = [ {"empno":7799, "ename":'smith', "deptno":10},
        {"empno":7300, "ename":'allen', "deptno":20},
        {"empno":7788, "ename":'king', "deptno":20} ]
for cnt, i in enumerate(emp):
    if cnt==1:
        print(i['empno'])

7300

In [19]:
num_list = ['1', '2', '3', '4']
sum = 0
for num in num_list:
    num_n = int(num)
    sum+=num_n
print(sum)

10

In [20]:
num_list = list(map(int, ['1', '2', '3', '4']))
sum = 0
for num in num_list:
    sum+=num
print(sum)

10

In [21]:
type(num_list)

list

In [22]:
# 데이터 타입이 모두 똑같은게 아니라면 map을 쓰기 힘들다.
emp = [[7799, 'smith', '1000'], [7300, 'allen', '2000'], [7788, 'king', '3000']]
sum=0
for i in emp:
    sum+=int(i[2])
print(sum)

6000

In [23]:
emp = [[7799, 'smith', '1000'], [7300, 'allen', '2000'], [7788, 'king', '3000']]
sum=0
for sublist in emp:
    for cnt, v in enumerate(sublist):
        if cnt==2:
            print(cnt, int(v))
            sum+=int(v)
print(sum)

2 1000
2 2000
2 3000
6000

## list에 dict 담기

In [24]:
user1 = {"empno":7799, "ename":'smith', "deptno":10}

In [25]:
list(user1.keys())

['empno', 'ename', 'deptno']

In [26]:
list(user1.values())

[7799, 'smith', 10]

In [27]:
list(user1.items())

[('empno', 7799), ('ename', 'smith'), ('deptno', 10)]

In [28]:
list(user1.items())[0]

('empno', 7799)

In [29]:
user1 = {"empno":7799, "ename":'smith', "deptno":10}
print(user1.keys(), list(user1.keys()))
print(user1.values(), list(user1.values()))
print(user1.items(), list(user1.items()))

dict_keys(['empno', 'ename', 'deptno']) ['empno', 'ename', 'deptno']
dict_values([7799, 'smith', 10]) [7799, 'smith', 10]
dict_items([('empno', 7799), ('ename', 'smith'), ('deptno', 10)]) [('empno', 7799), ('ename', 'smith'), ('deptno', 10)]

In [30]:
list(user1.keys())[1]

'ename'

In [31]:
list(user1.values())[2]

10

In [32]:
list(user1.items())

[('empno', 7799), ('ename', 'smith'), ('deptno', 10)]

In [33]:
for i in list(user1.items()):
    print(i[0], i[1])

empno 7799
ename smith
deptno 10

In [34]:
for i in user1.items():
    print(i[0], i[1])

empno 7799
ename smith
deptno 10

In [35]:
key = []
value=[]
for i in list(user1.items()):
    key.append(i[0])
    value.append(i[1])

print(key)
print(value)

['empno', 'ename', 'deptno']
[7799, 'smith', 10]

- 키 값 분리

In [36]:
emp_list = list(user1.items())
for tupl in emp_list:
    print(tupl[0], tupl[1])

empno 7799
ename smith
deptno 10

## 슬라이싱(slicing)
- [s:e] s <= 문자열 < e
- -1의 의미는 맨 끝

In [37]:
sen = 'abced'
print(sen[0:3])
print(sen[ :3])
print(sen[0: ])
print(sen[ : ])
print(sen[0:-1])

abc
abc
abced
abced
abce

In [39]:
sen = [1,2,3,['a','b','c'],4,5]
sen[3]

['a', 'b', 'c']

In [40]:
sen[3][:]

['a', 'b', 'c']

In [42]:
sen[-3]

['a', 'b', 'c']

In [44]:
sen[3:4] # 슬라이싱은 sentence 기준으로 남겨놔~

[['a', 'b', 'c']]

## 문자열.split('구분자')
- 구분자 : 공백 기본

In [45]:
'010-123-4567'.split('-')

['010', '123', '4567']

In [47]:
'동해물과 백두산이 마르고 닳도록'.split() # 기본구분자: 공백

['동해물과', '백두산이', '마르고', '닳도록']

## 리스트 연산

In [51]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [54]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [55]:
a+10 # 객체 + 숫자는 안된다.

TypeError: can only concatenate list (not "int") to list

In [61]:
a=[1,2,3]
b=[4,5,6]
res = a.append(b)
a

[1, 2, 3, [4, 5, 6]]

In [62]:
a=[1,2,3]
b=[4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [63]:
a=[1,2,3]
b=[4,5,6]
a.insert(3,b)
a

[1, 2, 3, [4, 5, 6]]

In [64]:
a=[1,2,3]
b=[4,5,6]
a.insert(1,b)
print(a)

[1, [4, 5, 6], 2, 3]

In [65]:
a=[1,2,3]
b=[4,5,6]
a[1] = [4,5,6]
a

[1, [4, 5, 6], 3]

## '구분자'.join(list)
- [리스트] = '문자열'.split(구분자)
- 문자열 = 구분자.join(리스트)

In [66]:
'-'.join(['1','2','3'])

'1-2-3'

# 정렬
- 리스트.sort() : 원본을 재정렬
- sorted(리스트) : 원본은 두고 카피본을 만들어서 정렬

In [70]:
a= [1,4,3,7]
a.sort()
a # return이 없다. 객체 자체를 정렬해준다.

[1, 3, 4, 7]

In [71]:
a = [1,4,3,7]
res = sorted(a)
print(res)
print(a)

[1, 3, 4, 7]
[1, 4, 3, 7]

In [73]:
a = [1,4,3,7]
res = sorted(a, reverse=True)
print(res)

[7, 4, 3, 1]

## bool(부울, 불리언)
- True False

In [80]:
print(bool('')) # 값이 없으므로 false
print(bool('abc'))
print(bool([]))
print(bool([1,2]))
print(bool(0)) # 0은 무조건 false
print(bool(1))
print(bool(-1))
print()
print()
print()
print()
print()

False
True
False
True
False
True
True

In [97]:
a = ["77","8","54","32","","","0"]
sum = 0
cnt = 0
for i in a:
    
    if bool(i):            # true일 때 또는 0일때
        sum+=int(i)        # bool 쓰면 '0'도 true로 나오지만 어차피 
        cnt+=1             # 평균 구하는거니까 count하긴해야함;;
    
print(f'{sum/cnt:.1f}')

34.2

In [94]:
a = ["77","8","54","32","","","0"]
sum = 0
cnt = 0
for i in a:
    
    if bool(i):            # true일 때 또는 0일때
        sum+=int(i)        # bool 쓰면 '0'도 true로 나오지만 어차피 
        cnt+=1             # 평균 구하는거니까 count하긴해야함;;
    
print('{:.1f}'.format(sum/cnt))

34.2

In [91]:
for i in a:
    print(bool(i))

True
True
True
True
False
False
True