<font size=6><b> lec03. Quiz</b></font>
* 제어문, 반복문 활용
* list, tuple, dict 활용

<b>문1) 다음 3명의 회원 데이터를 다음의 형태로 출력</b>
<pre>
7654	MARTIN	1250
7934	MILLER	1300
7876	ADAMS	1100

* 출력 결과 :
    [{'empno':7654, 'ename':'MARTIN', 'sal':1250}, 
     {'empno':7934, 'ename':'MILLER', 'sal':1300}, 
     {'empno':7876, 'ename':'ADAMS', 'sal':1100} ]

In [1]:
a = [[7654, 'MARTIN', 1250]
 ,[7934, 'MILLER', 1300]
 ,[7876, 'ADAMS', 1100]]
tmp = []
for i in range(len(a)):
    dict = {'empno': a[i][0], 'ename' :a[i][1], 'sal':a[i][2]}
    tmp.append(dict)
print(tmp)

[{'empno': 7654, 'ename': 'MARTIN', 'sal': 1250}, {'empno': 7934, 'ename': 'MILLER', 'sal': 1300}, {'empno': 7876, 'ename': 'ADAMS', 'sal': 1100}]

<b>문2) 위 1번 문항의 회원 데이터에 다음 회원 추가</b>
<pre>
7839	KING	5000

In [3]:
dict2 = {'empno':7839, 'ename': 'KING', 'sal':5000}
tmp.append(dict2)
print(tmp)

[{'empno': 7654, 'ename': 'MARTIN', 'sal': 1250}, {'empno': 7934, 'ename': 'MILLER', 'sal': 1300}, {'empno': 7876, 'ename': 'ADAMS', 'sal': 1100}, {'empno': 7839, 'ename': 'KING', 'sal': 5000}]

<b>문3) 위 1번 문항의 회원 데이터에 MILLER 회원의 급여 3000으로 변경</b>

In [8]:
tmp[1]['sal'] = 3000
print(tmp)

[{'empno': 7654, 'ename': 'MARTIN', 'sal': 1250}, {'empno': 7934, 'ename': 'MILLER', 'sal': 3000}, {'empno': 7876, 'ename': 'ADAMS', 'sal': 1100}, {'empno': 7839, 'ename': 'KING', 'sal': 5000}]

<b>문4) 구구단 3단, 4단에서 짝수만 곱하기한 결과와 총합 출력 </b>

* 출력결과
<pre>
3* 2 = 6	3* 4 = 12	3* 6 = 18	3* 8 = 24	
4* 2 = 8	4* 4 = 16	4* 6 = 24	4* 8 = 32	
총합 : 140

In [51]:
sum = 0
for i in range(3,5):
    for j in range(2,9,2):
        print(f'{i}*{j}={i*j}', end='\t')
        sum+=i*j
    print()
print('총합 :',sum)
# np에서 .cuumsum()을 사용하면 누적합을 보여준다.!!!!

3*2=6	3*4=12	3*6=18	3*8=24
4*2=8	4*4=16	4*6=24	4*8=32
총합 : 140

<b> 문5) 다음 리스트 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력</b>

* ename_list = ['FORD','SCOTT','WARD','TURNER','ADAMS','CLARK','KING']
* 출력결과 : ['SCOTT', 'ADAMS', 'CLARK']

In [17]:
ename_list = ['FORD','SCOTT','WARD','TURNER','ADAMS','CLARK','KING']
tmp = []
for i in ename_list:
    if len(i)==5:
        tmp.append(i)
print(tmp)

['SCOTT', 'ADAMS', 'CLARK']

In [54]:
[ename for ename in ename_list  if len(ename)==5] # 한줄 코딩

['SCOTT', 'ADAMS', 'CLARK']

<b> 문6) 문자열에서 인덱스가 홀수인 문자와 짝수인 문자 연결하기

* sent = "대한민국"
* 출력결과 : 대민, 한국

In [23]:
sent = '대한민국'
짝=''
홀=''
for i in range(len(sent)):
    if i%2==0:
        짝+=sent[i]
    else:
        홀+=sent[i]
print(f'{짝},{홀}')

대민,한국

<b>문7) 369 게임 출력 결과를 다음과 같이 출력 (10회만 실행) </b>

* 출력결과 :  1 2 짝 4 5 짝 7 8 짝 10

In [64]:
# 근데 369게임이 369 들어가면 박수치는거였나, 3으로 나눠떨어지면이였나
for i in range(1,21):
    tmp = str(i)
    if '3' in tmp or '6' in tmp or '9' in tmp:
        print('짝', end=' ')
    else:
        print(tmp, end=' ')

1 2 짝 4 5 짝 7 8 짝 10 11 12 짝 14 15 짝 17 18 짝 20

In [65]:
'3333'.count('3')

4

In [67]:
# 근데 369게임이 369 들어가면 박수치는거였나, 3으로 나눠떨어지면이였나
for i in range(1,40):
    tmp = str(i)
    cnt=0
    if '3' in tmp or '6' in tmp or '9' in tmp:
        cnt = tmp.count('3')+tmp.count('6')+tmp.count('9')
        print('짝'*cnt, end=' ')
        
    else:
        print(tmp, end=' ')

1 2 짝 4 5 짝 7 8 짝 10 11 12 짝 14 15 짝 17 18 짝 20 21 22 짝 24 25 짝 27 28 짝 짝 짝 짝 짝짝 짝 짝 짝짝 짝 짝 짝짝

<b>문8) 다음 사원 정보에서 커미션을 받는 사원의 급여 평균 출력(소수점 1자리)</b>

<pre>
empno	ename	sal	comm
-----	-----	-----	------
7654	MARTIN	1250	1400
7934	MILLER	1300	null
7876	ADAMS	1100	0
7499	ALLEN	1600	300

emp = [
    [7654,'MARTIN',1250,'1400'],
    [7934,'MILLER',1300,''],
    [7876,'ADAMS',1100,'0'],
    [7499,'ALLEN',1600,'300']
]

* 출력 결과 : 
사원수 : 3
합계 : 3950
평균 : 1316.67

In [55]:
emp = [
    [7654,'MARTIN',1250,'1400'],
    [7934,'MILLER',1300,''],
    [7876,'ADAMS',1100,'0'],
    [7499,'ALLEN',1600,'300']
]

cnt=0
sum=0
for i in emp:
    if i[3] and int(i[3])>0:
        cnt+=1
        sum+=i[2]
        

print(f'사원수 : {cnt}')
print(f'합계 : {sum}')
print(f'평균 : {sum/cnt:.2f}')

사원수 : 2
합계 : 2850
평균 : 1425.00

In [56]:
import numpy as np
emp = [
    [7654,'MARTIN',1250,'1400'],
    [7934,'MILLER',1300,''],
    [7876,'ADAMS',1100,'0'],
    [7499,'ALLEN',1600,'300']
]

emp = np.array(emp)
temp = []
for val in emp:
    if bool(val[3]) and int(val[3])>0:
        temp.append(int(val[2]))
print(temp)


print(f'사원수 : {len(temp)}')
print(f'합계 : {np.array(temp).sum()}')
print(f'평균 : {np.array(temp).mean()}')

[1250, 1600]
사원수 : 2
합계 : 2850
평균 : 1425.0

<b>문9) 2013~2015년 사이의 매출 합계 출력</b>
<pre>

year   = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
amount = [500,  600,  700,  900,  1100,  700, 650,  400]

* 출력 결과 
매출 합계 : 2700

In [35]:

year   = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
amount = [500,  600,  700,  900,  1100,  700, 650,  400]

sum=0
for i in range(len(year)):
    if year[i]>=2013 and year[i] <=2015:
        sum+=amount[i]
print(f'매출 합계 : {sum}')

매출 합계 : 2700

<b>문10) 전체 회원에서 남 녀 구성 비율</b>
<pre>
emp = ['m','m','f','f','m','f']

* 출력 결과 : 
남 : 3명 50%
여 : 3명 50%

In [39]:
emp = ['m','m','f','f','m','f']
cnt_m=0
cnt_f=0
for i in emp:
    if i=='m':
        cnt_m+=1
    else:
        cnt_f+=1
print(f'남 : {cnt_m} {(cnt_m/len(emp))*100:.0f}%')
print(f'여 : {cnt_f} {(cnt_f/len(emp))*100:.0f}%')

남 : 3 50%
여 : 3 50%

In [63]:
emp = ['m','m','f','f','m','f']
arr = np.array(emp)

a= arr[np.where(arr=='m')]
b= arr[np.where(arr=='f')]

print(f'남 : {len(a)} {(len(a)/len(emp))*100:.0f}%')
print(f'여 : {len(b)} {(len(b)/len(emp))*100:.0f}%')

남 : 3 50%
여 : 3 50%