# lec02. 조건문 & 반복문

## 조건문 if
* if 조건절 :
* if 조건절 :</br>
  else:
* if 조건절 :</br>
  elif 조건절:</br>
  else:

In [6]:
gen = 'm'
if gen=='f':
    print('여성1')
    print('여성2')
    print('여성3')
    print('여성4')
elif gen=='m':
    print('남성1')
    print('남성2')
else:
    print('중성')
print('==done==')

남성1
남성2
==done==

In [8]:
gen = 'm'
blood = 'A'

if gen=='m' and blood == 'A':
    print('적합')

적합

In [ ]:
sal =2000
if sal > 1000:
    print('1')
elif sal > 2000:
    print('2')
elif sal > 3000:
    print('3')
else:
    print('해당없음')

In [12]:
blood = ['A', 'B', 'O']
i = 'A'
if i =='A':
        print('1')
elif i=='B':
        print('2')
elif i=='O':
        print('3')
else:
        print('해당없음')

1

## 반복문 for
* for 한개 in 반복대상:

In [13]:
for num in [1,2,3]:
    print(num)
print('====done====')

1
2
3
====done====

In [15]:
blood = ['A', 'B', 'O']
for i in blood:
    if i =='A':
        print('1')
    elif i=='B':
        print('2')
    elif i=='O':
        print('3')
    else:
        print('해당없음')

1
2
3

## range (start, end)
- [start, end-1]

In [18]:
for a in range(1,4): 
    print(a, end='\n') # end='\n'이 기본이다.

1
2
3

In [30]:
for a in range(1,100):
    print(2*a, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198

In [23]:
for i in range(1,10):
    print('---'+str(i)+'단---')

---1단---
---2단---
---3단---
---4단---
---5단---
---6단---
---7단---
---8단---
---9단---

In [26]:
dan = 99
print('---', dan, '단---')
print(f'---{dan}단---') # printf 양식

--- 99 단---
---99단---

## 문자 포맷팅

### "%d %s" %(변수1, 변수2)
%s : 글자      %d : 숫자       %f 소수점 숫자        %c 한글자 </br>
%o : 8진수     %x : 16진수

In [33]:
age = 28
name = '이태영'
print('내 나이는 %d살입니다 이름은 %s 입니다' %(28, '이태영'))

내 나이는 28살입니다 이름은 이태영 입니다

In [36]:
for i in range(1, 10):
    print('---%d단---' %i)

---1단---
---2단---
---3단---
---4단---
---5단---
---6단---
---7단---
---8단---
---9단---

In [39]:
print('이자율은 0.3%입니다')
print('이자율은 %f %%입니다' %0.125487)
print('이자율은 %.3f %%입니다' %0.125487)

이자율은 0.3%입니다
이자율은 0.125487 %입니다
이자율은 0.125 %입니다

In [38]:
rate = 0.7
print(rate)

0.7

### "{순서1}{순서2}".format(변수1, 변수2)

In [40]:
print("내 나이는 {0}살입니다 이름은 {1}입니다".format(20, '홍길동'))

내 나이는 20살입니다 이름은 홍길동입니다

### f" {변수}"

In [42]:
age = 20
name = "홍길동"
print(f"내 나이는 {age}살입니다 이름은 {name}입니다")

내 나이는 20살입니다 이름은 홍길동입니다

In [50]:
for i in range(1, 10):
    print('---%d단---' %i)
    for j in range(1,10):
        print(f"{i}*{j}={i*j}", end='\t')
    print()

---1단---
1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9
---2단---
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
---3단---
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
---4단---
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
---5단---
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
---6단---
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
---7단---
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
---8단---
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
---9단---
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

## 반복문 while
* while 조건문:

In [51]:
# 파이썬은 boolean 앞글자를 무조건 대문자로 True, False

In [52]:
a=11
while a>8:
    print(f'---{a}')
    a=a-1
print('===done==')

---11
---10
---9
===done==

In [56]:
num =1
while num<11:
    print(num)
    num=num+1

1
2
3
4
5
6
7
8
9
10

In [57]:
num =1
while True:
    print(num)
    num=num+1
    if num<=10:
        continue
    else:
        break

1
2
3
4
5
6
7
8
9
10

In [58]:
a=1
b=1
while a<10:
    print('---%d단---' %a)
    b=1
    while b<10:
        print(f"{a}*{b}={a * b}", end='\t')
        b=b+1
    a = a + 1
    print()

---1단---
1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9
---2단---
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
---3단---
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
---4단---
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
---5단---
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
---6단---
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
---7단---
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
---8단---
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
---9단---
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [59]:
a=11
while a>8:
    print(f'---{a}')
    a=a-1
print('===done==')

---11
---10
---9
===done==

In [60]:
a=11
while True:
    print(f'---{a}')
    a=a-1
    if a==8:
        break
    else:
        continue

---11
---10
---9

In [66]:
scores = [70, 60, 55, 75, 95, 90, 80, 80, 85]
tmp = 0
for s in scores:
    tmp = tmp+s

print('%.2f' %(tmp/len(scores)))

76.67

In [67]:
score_list =  [70, 60, 55, 75, 95, 90, 80, 80, 85]
sum = 0
cnt = len(score_list)    #원소의 갯수

for score in score_list:
    sum = sum + score

print( f"합계:{sum}")    
print( f"인원수: {cnt}"  )  
print( f"평균: {sum/cnt : .2f}"  )

합계:690
인원수: 9
평균:  76.67

In [69]:
tmp = 0
for i in range(1,11):
    if i%2==0:
       tmp+=i
    else:
        continue

print(tmp)

30

In [71]:
cnt=0
for i in range(1, 31):
    if i%3==0:
        cnt+=1
print(cnt)

10

## range(start, end, step=1)

In [72]:
nums = list( range(2,11,2))
print(nums)
sum = 0
for n in nums:
    sum=sum+n
print(f"합계:{sum}")

[2, 4, 6, 8, 10]
합계:30

In [73]:
for a in range(1,5):
    print(a*'*'+(4-a)*' ')

*
**
***
****

In [74]:
for a in range(1, 5):
    print((4-a)*' '+a*'*')

   *
  **
 ***
****

In [77]:
for a in range(4,0,-1):
    print(a*'*'+(4-a)*' ')

****
***
**
*

In [78]:
for a in range(4,0,-1):
    print((4-a)*' '+a*'*')

****
 ***
  **
   *

In [83]:
for a in range(1, 30,2):
    print(' '*((29-a)//2)+'*'*a+' '*((29-a)//2))

              *
             ***
            *****
           *******
          *********
         ***********
        *************
       ***************
      *****************
     *******************
    *********************
   ***********************
  *************************
 ***************************
*****************************

In [86]:
for a in range(29,0,-2):
    print(' '*((29-a)//2)   +    ('*'*a)  +' '*((29-a)//2) )

*****************************
 ***************************
  *************************
   ***********************
    *********************
     *******************
      *****************
       ***************
        *************
         ***********
          *********
           *******
            *****
             ***
              *